:root {
    --color-primary: rgb(255, 179, 79);
    /* Orange-yellow */
    --color-success: rgb(0, 153, 63);
    /* Green */
    --color-gray: rgb(190, 195, 206);
    /* Light gray */
    --color-info: rgb(63, 132, 210);
    /* Blue */
    --color-dark-blue: rgb(0, 65, 110);
    /* Dark blue */
    --color-danger: rgb(240, 94, 94);
    /* Red */
    --color-black: rgb(0, 0, 0);
    /* Black */
}